<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    <div class="titlebar">
        <h2>Create a new Pokemon</h2>
        <a href="/"><button>Return to Pokedex</button></a>
    </div>
    <form action="/pokedex" method="post">
        //form goes here
    </form>
</body>
</html>