<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    <div class="titlebar">
        <h2><%= pokemon.name %></h2>
        <a href="/"><button>Return to Pokedex</button></a>
    </div>
</body>
</html>