@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    
:root {
        --tilesize: 20vw;
    }

@media (max-width: 900px) {
    :root {
        --tilesize: 28vw;
    }
 }

@media (max-width: 640px) {
    :root {
        --tilesize: 40vw;
    }
 }

body {
    background-color:#ffffff;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    /* background-image: url("https://i.rtings.com/assets/products/dWM5URbB/sony-a8h-oled/dse-large.jpg"); */
    /* background-position: center; */
    /* background-attachment: fixed; */
}

img {
    max-width: var(--tilesize)
}

.white-wrap > img {
    max-width: calc(var(--tilesize) / 1.9);
    max-height: calc(var(--tilesize) / 1.9);
    /* display:none; */
}
.gbc {
    width: var(--tilesize);
    height: var(--tilesize);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
    /* border: .5px solid black; */
    /* box-shadow: 1px 1px  5px black; */
    /* background-image: url("/static/gbc.png");
    background-size:cover; */
    position:absolute;
}
.gbc-img {
    min-width: 100%;
    min-height: 100%;
    /* border-radius: 20px; */
    box-shadow: 0px 2px  1px grey;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titlebar {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-top: .5em;
    /* font-family: 'VT323', monospace; */
}

.titlebar * {
    margin-bottom: 0;
}
.titlebar h2 {
    text-shadow: .5px .5px 2px rgb(223, 223, 223);

}

.display {
    display:flex;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
    width: 90%;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;

}

.tile-original {
    width: var(--tilesize);
    height: var(--tilesize);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: .5px solid black;
    box-shadow: 1px 1px  5px black;
}

.tile-new {
    width: var(--tilesize);
    height: var(--tilesize);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px */
    /* border: .5px solid black; */
    /* box-shadow: 1px 1px  5px black; */
}

.white-wrap {
    width: calc(var(--tilesize) / 1.6);
    height: calc(var(--tilesize) / 1.6);
    background-color: white;
    position: relative;
    top:-.5em;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tileplus {
    width: calc(var(--tilesize) * 1.5);
    height: calc(var(--tilesize) * 1.5);
}
img.tileplus {
    max-width: calc(var(--tilesize) * 1.2);
    max-height: calc(var(--tilesize) * 1.2);
}

.pokemon-name {
    position: absolute;
    font-weight:bold;
    /* left:10; */
    /* top: 10; */
    color: rgb(227, 227, 227);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    top: 82%;
    font-family: 'VT323', monospace;
    font-size: calc(var(--tilesize) / 9);
}

.main {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    column-gap: 1em;
    width: 75%;
    /* background-color: rgb(211, 211, 211); */
    min-height: 200px;
    padding-top: 10px;
}

.main > div {
    background-color: rgb(81, 81, 81);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2em 2em 3em 2em;
    color: white;
    height: fit-content;
    border: .2px solid rgb(196, 196, 196);
}

form {
    
}

.narrow-input input[type=text]{
    width: 3.5em;
}

.nowrap {
    white-space:nowrap;
}